.result {
    @include flexColumn;
    width: 95vw;
    font-size: 1rem;
    padding-top:1.5rem;
    @include mq(768px) {
        width:75vw;
        padding:2rem;
    }
    @include mq(1025px) {
        width:55vw;
    }

    .searchResult{
        width:100%;
        text-align:left;
        @include mq(768px){
            padding: 0.5rem 0;
            font-size: 1.5rem;
            line-height: 1rem;
        }

        p{
            font-size: 0.75rem;   
        }

        a{
            font-weight: bold;
            color:$logo-blue;
            text-decoration:none;
            cursor:pointer;           
        }
    }
}